{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min2.css' %}" rel="stylesheet"-->
		<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<link href="{% static 'css/things.css' %}" rel="stylesheet">
		<script src="{% static 'bootstrap/js/jquery-1.10.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">

	function getxmlhttp(){
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
		  // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		  xmlhttp=new XMLHttpRequest();
		}
		else
		{
		  // IE6, IE5 浏览器执行代码
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		return xmlhttp;
	}

	function asy_resp(url){
		xmlhttp = getxmlhttp();
		xmlhttp.onreadystatechange=function(){
	    	if (xmlhttp.readyState==4 && xmlhttp.status==200){
	      		document.getElementById("row2").innerHTML=xmlhttp.responseText;
	    	}
	  	}
	  	xmlhttp.open("GET",url,true);
	  	xmlhttp.send();
	}

	function order_submit_asyn(ele){
		id = ele.id.replace('submit','');
		xmlhttp = getxmlhttp();
		document.getElementById("close"+id).click();
		xmlhttp.onreadystatechange=function(){
	    	if (xmlhttp.readyState==4 && xmlhttp.status==200){
				alert(xmlhttp.responseText);
				asy_resp('/user/borrow_things');
			}

	  	}
		xmlhttp.open('POST','/user/order_submit',true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send('id='+id+'&num='+document.getElementById('num_input').value+'&csrfmiddlewaretoken='+'{{ csrf_token }}');

	}

	function object_revoke(ele){
		// 取消分享的物品
		id = ele.id.replace('revoke','');
		xmlhttp = getxmlhttp();
		xmlhttp.onreadystatechange=function(){
	    	if (xmlhttp.readyState==4 && xmlhttp.status==200){
				alert(xmlhttp.responseText);
				asy_resp('/user/person_info');
			}
	  	}
		xmlhttp.open('POST','/user/object_revoke',true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send('id='+id+'&csrfmiddlewaretoken='+'{{ csrf_token }}');
	}

	function order_cancel(ele){
		id = ele.id.replace('cancel','');
		xmlhttp = getxmlhttp();
		xmlhttp.onreadystatechange=function(){
	    	if (xmlhttp.readyState==4 && xmlhttp.status==200){
				alert(xmlhttp.responseText);
				asy_resp('/user/person_info');
			}
	  	}
		xmlhttp.open('POST','/user/order_cancel',true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send('order_id='+id+'&csrfmiddlewaretoken='+'{{ csrf_token }}');
	}

	function upload_file(){
		form = new FormData(document.getElementById('obj_upload_form'));
		form.append('csrfmiddlewaretoken','{{ csrf_token }}');
		xmlhttp = getxmlhttp();
		xmlhttp.onreadystatechange=function(){
	    	if (xmlhttp.readyState==4 && xmlhttp.status==200){
				alert(xmlhttp.responseText);
				asy_resp('/user/borrow_things');
			}
	  	}
        xmlhttp.open("post", "/user/object_upload", true);
       	xmlhttp.send(form);
	}

	window.onload = function(){
		// load borrow_things.html
		asy_resp('/user/borrow_things');
	}
</script>
		<title>主页</title>

	</head>
	<body>

		<div class="container-fluid">
		<div class="row clearfix" id="row1">
			<div class="col-md-2 column"></div>
			<div class="col-md-2 column" style="height: 100%;">
				<img alt="90x90" src="{% static 'img/shared.jpg' %}" class="img-circle" style="height: 80%;margin-top:5%;margin-left: 5%;">
			</div>

			<div class="col-md-1 column" id="home" style="height: 100%;" >
				<a class="btn btn-info btn-lg" id="homebutton" onclick="asy_resp('/user/borrow_things')">
	          		<span class="glyphicon glyphicon-home" style="margin-top: 80%;"></span> 首页
	        	</a>
			</div>
			<div class="col-md-1 column" id="home">
				<a class="btn btn-info btn-lg" id="homebutton" onclick="asy_resp('/user/object_upload')">
	          		<span class="glyphicon glyphicon-send" style="margin-top: 80%;"></span> 分享
	        	</a>
			</div>
			<div class="col-md-1 column" id="home">
				<a class="btn btn-info btn-lg" id="homebutton" onclick="asy_resp('/user/person_info')">
	          		<span class="glyphicon glyphicon-user" style="margin-top: 80%;"></span> 用户
	        	</a>
			</div>
			<div class="col-md-1 column" id="home">
				<a class="btn btn-info btn-lg" id="homebutton" onclick="asy_resp('/user/search')">
	          		<span class="glyphicon glyphicon-search" style="margin-top: 80%;"></span> 查找
	        	</a>
			</div>

			<div class="col-md-2 column" style="color: white;" id="greeting">
				{% if user %}
					<p>{{ user.nickname }},你好|<a href="/user/logout" style="color: white;">退出</a></p>
				{% else %}
					<p>你好|<a href="/user/logout" style="color: white;">退出</a></p>
				{% endif %}
			</div>
			<div class="col-md-2 column"></div>
		</div>
		<div class="row clearfix" id="row2">
		</div>
	</div>
	</body>
</html>
