<html>
	<body>
		<div class="col-md-2 column"></div>
		<div class="col-md-7 column" id="row5">
			<div class="row clearfix">
			<div class="col-md-2 column"></div>
			<div class="col-md-9 column">
			<form action="/user/person_info_modify" class="personalinfomation" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<table width="90%" height="auto" border="0" align="right" cellpadding="0" cellspacing="0">
				    <tr>
						<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: ;">昵称：</h4>
	    				<td height="45" align="left">
	    					<input name="nickname" type="text" class="mytextfield" id="" value="" maxlength="10" />
						</td>
						</td>
				    </tr>
				    <tr>
						<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: ;">手机：</h4>
	    				<td height="45" align="left">
	    					<input name="phone" type="text" class="mytextfield" id="" value="" maxlength="11" />
						</td>
						</td>
				    </tr>
				    <tr>
						<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: ;">学院：</h4>
	    				<td height="45" align="left">
	    					<input name="school" style="width:20%" type="text" class="mytextfield" id="" value="" maxlength="10" />
						</td>
						</td>
				    </tr>
				    <tr>
						<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: ;">头像：</h4>
	    				<td height="" align="left">
	    					<input style="" name="head_pic" type="file" class="myfile" />
						</td>
						</td>
				    </tr>
				    <tr>
				    	<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: ;">个人简介：</h4>
				    	<td  height="150" colspan="3" valign="middle" scope="row">
				    		<textarea style="margin-top: 10px;width: 80%;" name="personal_intro" cols="25" rows="10" class="mytextarea" id="plan_c" style="color:#999" onfocus="if(this.value=='请简单介绍一下你自己…') this.value='';" onblur="if(this.value=='')this.value='请简单介绍一下你自己…';">请简单介绍一下你自己…
				    		</textarea>
				    	</td>
				    </tr>
				</table>
				<div class="row clearfix">
					<input style="margin-left: 45%;" type="submit" class="btn btn-primary" value="提交" id="" />
				</div>
			</form>
			</div>
			</div>
			<br>
		</div>


		<div class="col-md-2 column"></div>
	</body>
</html>
