{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min2.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<link href="{% static 'css/share.css' %}" rel="stylesheet">
		<title></title>
	</head>
	<body>
		
	<div class="container-fluid">
	<div class="row-fluid" id="row1">
		<div class="span2">  
		</div>
		<div class="span2" style="height: 100%;">
			<img alt="90x90" src="{% static 'img/a.jpg' %}" class="img-circle" style="height: 80%;margin-top:5%;margin-left: 5%;">
		</div>
		<div class="span1"></div>
		<div class="span1" id="home" style="height: 100%;">
			<a href="index" class="btn btn-info btn-lg" id="homebutton">
          	<span class="glyphicon glyphicon-home" style="margin-top: 80%;"></span> 主页
        	</a>
		</div>
		<div class="span1" id="home">
			<a href="things_can_be_borrowed" class="btn btn-info btn-lg" id="homebutton">
          	<span class="glyphicon glyphicon-home" style="margin-top: 80%;"></span> 借用
        	</a>
		</div>
		<div class="span1" id="home">
			<a href="sharethings" class="btn btn-info btn-lg" id="homebutton">
          	<span class="glyphicon glyphicon-home" style="margin-top: 80%;"></span> 分享
        	</a>
		</div>
		<div class="span1" id="home">
			<a href="#" class="btn btn-info btn-lg" id="homebutton">
          	<span class="glyphicon glyphicon-home" style="margin-top: 80%;"></span> 管理
        	</a>
		</div>
		
		
		<div class="span2"></div>
	</div>
	<div class="row-fluid" id="row2">
		<div class="span2"></div>
		<div class="span1"></div>
		<div class="span6" id="row3">
			<div class="row-fluid">
			<table width="90%" height="auto" border="0" align="right" cellpadding="0" cellspacing="0">
			    <tr>
					<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: white;">物品名称：</h4>
    				<td height="45" align="left">
    					<input name="textfield" type="text" class="mytextfield" id="" value="" maxlength="60" />
					</td> 
					</td>
			    </tr>
			    <tr>
					<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: white;">件数：</h4>
    				<td height="45" align="left">
    					<input style="width:20%" type="text" class="mytextfield" id="" value="" maxlength="60" />
					</td> 
					</td>
			    </tr>
			    <tr>
					<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: white;">图片：</h4>
    				<td height="" align="left">
    					<input style="color: white;" name="file" type="file" class="myfile" />
					</td> 
					</td>
			    </tr>
			    <tr> 
			    	<td height="40" colspan="" align="left" valign="top" scope="row"><h4 style="color: white;">物品简介：</h4>
			    	<td  height="150" colspan="3" valign="middle" scope="row">
			    		<textarea style="margin-top: 10px;width: 80%;" name="textarea" cols="25" rows="10" class="mytextarea" id="plan_c" style="color:#999" onfocus="if(this.value=='请描述一下你的物品…') this.value='';" onblur="if(this.value=='')this.value='请描述一下你的物品…';">请描述一下你的物品…
			    		</textarea>
			    	</td>
			    	
			    </tr>
			</table>
			</div>
			<br>
			<div class="row-fluid">
				<input style="margin-left: 45%;" type="submit" class="btn btn-primary" value="登录" id="login" />
			</div>
		</div>
		
		<div class="span2"></div>
	</div>               
	<!--div class="row-fluid" id="row3">
		<div class="span2"></div>
		<div class="span4">
			<img alt="140x140" src="img/a.jpg" class="img-circle" />
		</div>
		<div class="span4">
			<img alt="140x140" src="img/a.jpg" />
		</div>
		<div class="span2"></div>
	</div-->
</div>
		<script src="{% static 'bootstrap/js/jquery-1.10.2.min.js' %}"></script>
      	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</body>
</html>   
   