html,body{height:100%;}
.container-fluid{
	background-color: #EBEBEB;
	height: 100%;
}
#row1{
	background-color: #434343;
	height: 20%;
}
#home{
	height: 100%;
}
#homebutton{
	height: 100%;
	background-color: #434343;
	border: none;
	color: white;
	
}
#row2{
	background-color: #0055CC;
	height: 85%;
}
p{
	height: 15%;
	margin-left: 30%;
	margin-top: 5%;
}
/*#row3{
	background-color:  #49AFCD;
	height: 40%;
}*/

