#row3{
	background-color: #FFFFFF;
	border: 1px soild#999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
	 outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	height: 90%; 
	margin-top: 10px;
	padding: 10px;
}
#item{
	
	height: 20%;
	
}
#itempic{
	height: 100%;
}
#itempic img{
	height: 90%;
}
.list-group-item{
	height: 100%;
	border: none;
	border-color: #FFFFFF;
	
}

